:root
{
    --primary-color:white;
    --font:Roboto;
    --left-space:300px;
}

body
{
    background:black;
}

hr
{
    
    width:970px;
   border:2px solid grey;
    margin-left:300px;
}

h1
{
    color:white;
    font-size: 2.7rem;
    margin-top:30px;
    margin-bottom: 0px;
    font-family: var(--font);   
    font-weight: 500; 
}

span
{
    color:var(--primary-color);
    font-size: 1.7rem;
    display:inline-block;
    margin-left:10px;
    margin-top:8px;
   
}
label
{
    color:var(--primary-color);
    font-size: 1.5rem;
}
input[type="checkbox"]
{
    width:20px;
    height:20px;
    margin:10px 0px 0px 10px;
}

#logo
{
    width:170px;
    margin-top:30px;
}


.wrapper
{
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 170px 70px 350px;
    grid-gap:5px;
    grid-template-areas: 
    "header header header"
    "attributes-container attributes-container attributes-container"
    "skills-container skills-container skills-container";

    /* border:5px solid red; */
}
.header
{
    grid-area:header;
    /* border:1px solid green; */
    margin-left:var(--left-space);
}
.attributes-container
{
    grid-area:attributes-container;
    /* border:1px solid blue; */
    margin-left:var(--left-space);
    display:flex;
    flex-direction: row;
}
.attributes-container > *
{
    margin-right:40px;
}


.skills-container
{
    grid-area:skills-container;
    /* border:1px solid yellow; */
    margin-left:var(--left-space);
    display: flex;
    
}

.button
{
    border:3px solid grey;
    width:290px;
    height:50px;
    
    
}

.icon
{
width:30px;
float:right;
margin-right:10px;
margin-top:10px;  
}

.box
{
    width:290px;
    height:330px;
    border:3px solid grey;
    margin-right: 40px;
    display:flex;
    flex-direction: column;

}

.heroes
{

  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
 margin-left:260px;
 grid-gap:20px;
 width: 970px;
}
.hero
{
    
}
.hero img
{
    max-width: 100%;
}
.hero span
{
    font-size:1.4rem;
}

.heroe span
{
    font-size: 1.3rem;
}
