:root
{
    --primary-color:white;
    --font:Roboto;
    --left-space:300px;
}

body
{
    background:black;
}

h1
{
    color:white;
    font-size: 3rem;
    margin-top:30px;
    margin-bottom: 0px;
    font-family: var(--font);    
}

span
{
    color:var(--primary-color);
    font-size: 1.7rem;
    display:inline-block;
    margin-left:10px;
    margin-top:8px;
   
}
label
{
    color:var(--primary-color);
    font-size: 2rem;
}
input[type="checkbox"]
{
    width:25px;
    height:25px;
}

#logo
{
    width:200px;
    margin-top:30px;
}


.wrapper
{
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 70px 400px;
    grid-gap:5px;
    grid-template-areas: 
    "header header header"
    "attributes-container attributes-container attributes-container"
    "skills-container skills-container skills-container";

    border:5px solid red;
}
.header
{
    grid-area:header;
    border:1px solid green;
    margin-left:var(--left-space);
}
.attributes-container
{
    grid-area:attributes-container;
    border:1px solid blue;
    margin-left:var(--left-space);
    display:flex;
    flex-direction: row;
}
.attributes-container > *
{
    margin-right:40px;
}


.skills-container
{
    grid-area:skills-container;
    border:1px solid yellow;
    margin-left:var(--left-space);
    display: flex;
    
}

.button
{
    border:3px solid grey;
    width:290px;
    height:50px;
    
    
}

.icon
{
width:30px;
float:right;
margin-right:10px;
margin-top:10px;  
}

.box
{
    width:290px;
    height:320px;
    border:3px solid grey;
    margin-right: 40px;
    display:flex;
    flex-direction: column;

}
